<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
      <a routerLink="/">Book Shop</a>
  </div>
  <div>
    <div class="inline-block relative">
      <a class="mx-4" routerLink="/cart"> My Cart</a>
      <p *ngIf="getCart().length > 0" class="inline-block absolute right-1 bottom-1/4 text-yellow-400">{{ getCart().length }}</p>
    </div>
    <ng-container *ngIf="!isAuthenticated()">
      <a class="mx-4" routerLink="/login">Login</a>
      <a class="mx-4" routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button (click)="logout()" class="mx-4" routerLink="/logout">Logout</button>
    </ng-container>
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>